@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.title__section{
    padding: 50px;
    position: relative;
    height: 129px;
}
.title__text{
    border: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}
.for__line{
    align-items: center;
    width: 170px;
    border: 0.5px solid #EC7979;
}
.text__content{
    text-align: center;
    margin-top: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.message__section{
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}
.message__customers{
    position: relative;
    display: flex;
    border: 1px solid #E2E2E2;
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 21.13px;
    align-items: center;
    color: #86878B;
}
.item__content{
    display: flex;
    flex-direction: column;
}
.user__info{
    display: flex;
    margin: 66px 2px 3px -25px;
}
.user__photo{
    align-self: flex-start;
}
.message__customers:after{
    content: url('img/say__message.png');
    position: absolute;
    top: 180px;
    left: 50px;
}
.img__customers-block{
    display: flex;
    
}
.item__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

}
.rank__name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.container__stylish{
    background: url(img/Nigh_City-mini.png);
    background-position: top;
    margin-left: auto;
    margin-right: auto;
    height: 442px;
    width: 1170px;
}
.title__text-section{
    padding: 50px;
    position: relative;
    height: 129px;
}
.text__for-title{
    border: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffff;
}
.item__line{
    align-items: center;
    width: 170px;
    border: 0.5px solid #ffffff;
}
.text__bottom{
    text-align: center;
    margin-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
.ghost__button{
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 370px;
    height: 58px;
    text-align: center;
    border: 2px solid #fffcfc;
    background-color: transparent;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-transform: capitalize;
}
.ghost__button:hover{
    background-color: transparent;
    background: #EC7979;
    color: white;
    border: 2px solid #EC7979;
}
.ghost__button:active{
    box-shadow: inset 0px 0px 10px #AB4949;;
}
.container__contact{
    margin-left: auto;
    margin-right: auto;
    height: 622px;
    width: 1170px;
}
.title__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.ui__form{
    position: relative;
    margin-bottom: 40px;
    box-sizing: border-box;
    margin: auto;
    left: 15px;
    top: 42px;
}
.ui__form input{
    display: block;
    width: 25%;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border-width: 0;
    border-bottom: 1px solid #BDBDBD;
    transition: all 0.2s ease;
    box-sizing: border-box;
    width: 507px;
    outline: none;
    height: 85px;
}
.ui__form label{
    position: absolute;
    color: #BDBDBD;
    transform: translateY(-35px);   
}
.tab__send-message{
    width: 280px;
    height: 48px;
    margin: auto;
    justify-content: center;
    color: white;
    background: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center; 
    margin-top: 50px;
    border: 0;

}   
.tab__send-message:hover{
    background: #AB4949;
}
.tab__send-message:active{
    background-color:  #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.item__message{
    
}
.footer__section{
    width: 1169px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d0d0d;
    margin-top: 50px;
    height: 164px;
    text-align: center;
    text-decoration: none;
}
.toopage{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: -20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.widget__social{
    text-align: center;
    margin-bottom: 1px;
    padding: 43px;
    text-decoration: none;
}
.widget__social li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 28px;
}
.widget__social li a:hover{
    color: #EC7979;
}
